@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4f6f3;
  padding: 12px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  background-color: white;
  max-width: 700px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 8px;
}

@media screen and (min-width: 500px) {
  .container {
    margin: 100px auto;
  }
}
